:root{
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --color-claro: hsl(233, 8%, 79%);
    --color-medio: hsl(236, 13%, 42%);
    --color-oscuro: hsl(240, 100%, 5%);
}

body{
    background-color: var(--white);
    margin: 0 auto;
    padding: 100px calc(100% - 90%) 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

/* narbar */
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
}

nav{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 calc(100% - 90%);
}

.nav-menu{
    display: flex;
    list-style: none;
    margin-right: -10px;
}

.nav-item{
    margin: 15px;
    line-height: 30px;

}

.nav-link{
    color: var(--color-medio);
    text-decoration: none;
}
/* cuerpo de la pagina  */
.contenedor{
    width: 100%;
}

.cont-body{
    /* background-color: brown; */
    display: flex;
    width: 100%;
}
/* lado izquierdo de la pagina */
.body-left{
    width: 75%;
    margin-right: 50px;
    
}

.body-left-img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.left-art{
    width: 100%;
    height: 150px;
    display: flex;
}

.title{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-oscuro);
    font-size: 25px;
    font-weight: bold;
    margin-right: 30px;
}


.note{
    width: 60%;
    padding: 10px;
    justify-content: center;
}

.note p{
    color: var(--color-medio);
    margin-bottom: 40px;
}

.left-botton{
    width: 250px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: var(--white);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    border:none;

}

/* Lado derecho de la pagina */
.body-right{
    background-color: var(--color-oscuro);
    width: 25%;
    padding:  0 10px;
    overflow: hidden;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .3);

}

.title-right{
    color: var(--orange);
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
    
}

.note-right{
    color: var(--white);
    width: 100%;
    height: calc(100% / 4);
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

.body-right div:nth-child(3){
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

.note-right h4{
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bolder;
}

.note-right p{
    margin-top: 3px;
}

/* el footer del sitio */

.cont-foot{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

}

.item-foot{
    width: 32%;
    display: flex;
}

.note-foot{
    display: inline-block;
    line-height: 15px;
}

.img-foot{
    width: 25%;
    object-fit: contain;
    margin-right: 10px;
}

.foot-h2{
    font-size: 25px;
    font-weight: bold;
    color: var(--color-claro);
}

.foot-h4 {
    color: var(--color-oscuro);
}

.foot-p{
    color: var(--color-claro);
}