:root{
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --color-claro: hsl(233, 8%, 79%);
    --color-medio: hsl(236, 13%, 42%);
    --color-oscuro: hsl(240, 100%, 5%);
}

body{
    background-color: var(--white);
    margin: 0;
    padding: 135px calc(100% - 95%) 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

/* narbar */
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

nav{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 calc(100% - 95%);
}

.nav-menu{
    margin-right: calc(100% - 95%);
    display: flex;
    list-style: none;
}

.nav-item{
    margin: 20px;
    line-height: 50px;

}

.nav-link{
    color: var(--color-medio);
    text-decoration: none;
}
/* cuerpo de la pagina  */
.contenedor{
    background-color: aqua;
    width: 100%;
}

.cont-body{
    background-color: brown;
    display: flex;
    width: 100%;
}
/* lado izquierdo de la pagina */
.body-left{
    width: 60%;
    margin: 20px;
    padding: 10px;
}

.body-left-img{
    width: 100%;
    height: auto;
}

.left-art{
    width: 100%;
    display: flex;
}

.title{
    width: 50%;
    color:var(--color-oscuro);
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
}


.note{
    width: 50%;
    justify-content: center;
}

.note p{
    color: var(--color-medio);
    margin-bottom: 100px;
}

.left-botton{
    width: 250px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    color: var(--white);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    border:none;

}

/* Lado derecho de la pagina */
.body-right{
    background-color: beige;
    width: 30%;
    padding: 15px;
}

.title-right{
    color: var(--orange);
    text-transform: uppercase;
    font-weight: bold;
}

.note-right{
    background-color: var(--color-oscuro);
    color: var(--white);
    width: 100%;
}